# Python
venv/
__pycache__/
*.pyc

# Dataset
datasets/

# Uploads
backend/uploads/

# Reports
reports/
*.pdf

# Jupyter
.ipynb_checkpoints/

# Node
frontend/node_modules/

# Build
frontend/dist/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db